@import "tailwindcss";

body {
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #f8fafc;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
